<%-include("partials/header.ejs");%>
<link rel="stylesheet" type="text/css" href="/css/about.css">
	
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div class="shadow border-0 dark-bg" id="aboutcard">
					<div class="card-body">
						<h1 style="text-align:center;">About YelpCamp</h1>
						<hr>
						<p><span id="aboutname"><b>RevPedia:) </b><span> is a restarurent reviewing website. Users can create their own places or review others' places. To get started, simply<a href="/signup"> sign up </a>.RevPedia was created using Node.js, Express, and MongoDB.</p>
						<hr>
						<h2>Features</h2>
						<hr>
						<ul>
							<li>Users can create, edit, and remove campgrounds</li>
							<li>Users can review campgrounds once, and edit or remove their review</li>
							<li>User profiles have more information on the user, such as their full name, phone number, join date, campgrounds, and the option to edit their profile or delete their account</li>
							<li>Search campground by name or location</li>
						</ul>
					</div>
				</div>
			</div>







	</div>












<%-include("partials/footer.ejs")%>;